<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WWIV5TelnetServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <userSettings>
    <WWIV5TelnetServer.Properties.Settings>
      <setting name="autostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="startNode" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="endNode" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="executable" serializeAs="String">
        <value>C:\wwiv\bbs.exe</value>
      </setting>
      <setting name="homeDirectory" serializeAs="String">
        <value>C:\wwiv</value>
      </setting>
      <setting name="parameters" serializeAs="String">
        <value>-XT -H@H -N@N</value>
      </setting>
      <setting name="localNode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="launchMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="useBegindayEvent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="useBalloons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="useEvents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="lastBeginDayDate" serializeAs="String">
        <value>2014-01-01</value>
      </setting>
      <setting name="launchLocalNodeAtStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launchNetworkAtStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkUpdates" serializeAs="String">
        <value>On Startup</value>
      </setting>
      <setting name="portSSH" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="parameters2" serializeAs="String">
        <value>-XS -H@H -N@N</value>
      </setting>
      <setting name="badip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="goodip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoban" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="banSessions" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="banSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="concurrentSessions" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="pressEsc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="useDnsRbl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dnsRbl" serializeAs="String">
        <value>xbl.spamhaus.org</value>
      </setting>
    </WWIV5TelnetServer.Properties.Settings>
  </userSettings>
</configuration>