<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WWIV5TelnetServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="startNode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="endNode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="executable" serializeAs="String">
                <value />
            </setting>
            <setting name="homeDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="parameters" serializeAs="String">
                <value />
            </setting>
            <setting name="localNode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="launchMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useBegindayEvent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useBalloons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useEvents" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <WWIV5TelnetServer.Properties.Settings>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="startNode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="endNode" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="executable" serializeAs="String">
                <value>C:\bbs\bbs.exe</value>
            </setting>
            <setting name="homeDirectory" serializeAs="String">
                <value>C:\bbs</value>
            </setting>
            <setting name="parameters" serializeAs="String">
                <value>-XT -H@H -N@N</value>
            </setting>
            <setting name="localNode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="launchMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useBegindayEvent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useBalloons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastBeginDayDate" serializeAs="String">
                <value>2014-01-01</value>
            </setting>
        </WWIV5TelnetServer.Properties.Settings>
    </userSettings>
</configuration>
